.copyright__title {
  margin-top: -2px;

  font-family: $arial;
  color: $charcoal;
}

.copyright__logo-image {
  width: 27px;
  height: 36px;

  fill: $dim-gray;

  &:focus,
  &:hover {
    fill: $apple;
  }
}

@media (min-width: $tablet-width) {
  .copyright__title {
    margin-right: 22px;
  }
}
