.main-nav {
  position: relative;
  display: none;

  &--open,
  &--no-js {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -18px;
  }
}
