.page-main {
  display: block;
  overflow: hidden;
}

.page-main__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
  text-align: left;
  line-height: 1.67;

  &--promos {
    margin: 0 auto 26px;

    line-height: 1;
    text-align: center;

    color: $white;
  }

  &--example {
    padding-top: 17px;
  }

  &--catalog {
    margin-top: 15px;
    margin-bottom: 28px;
  }

  &--form {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.page-main__text {
  max-width: 226px;
  margin-bottom: 39px;

  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    text-align: left;
    line-height: 1;

    &--promos {
      max-width: 420px;
      margin-left: -3px;
      margin-bottom: 42px;

      color: $black-2;
    }

    &--example {
      margin-top: 26px;
      margin-bottom: 64px;
    }

    &--catalog {
      margin-top: 57px;
      margin-bottom: 165px;
    }

    &--form {
      margin-top: 57px;
      margin-bottom: 55px;
      margin-left: -40px;
    }
  }

  .page-main__text {
    max-width: 323px;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    &--example {
      margin-top: 39px;
      margin-bottom: 146px;
    }

    &--catalog {
      margin-top: 75px;
    }

    &--form {
      margin-top: 75px;
      margin-left: 0;
    }
  }
}
