.promos {
  margin-bottom: -3px;
}

.promos__header {
  margin: 0 -20px;
  padding: 27px 20px 0;

  text-align: center;

  background-image: linear-gradient(to top, $white 60px, transparent 60px), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to top, $white 175px, $apple 175px);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(to top, $white 60px, transparent 60px), url("../img/index-background-mobile@2x.jpg"), linear-gradient(to top, $white 175px, $apple 175px);
  }
}

.promos__slogan {
  margin: 0;
  margin-top: -1px;
  padding: 0;

  font-size: 14px;
  text-transform: uppercase;
  color: $white;
}

.promos__image {
  width: 280px;
  height: 270px;
  margin: 29px 0 2px;
}

.promos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .promos {
    margin-bottom: -30px;
  }

  .promos__header {
    position: relative;
    min-height: 810px;
    margin: 0;
    padding-top: 57px;
    padding-left: 90px;

    background-image: none;
  }

  .promos__slogan {
    margin-bottom: 48px;
    font-size: 20px;
    text-align: left;
    color: $black-2;
  }

  .promos__image {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 708px;
    height: 609px;
    margin: 0 auto;
  }

  .promos__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .promos__header {
    min-height: 554px;
    padding-top: 109px;
    padding-left: 84px;
  }

  .promos__slogan {
    margin-bottom: 53px;
  }

  .promos__image {
    width: 552px;
    height: 499px;
    top: 4%;
    left: 19%;
    bottom: inherit;
    margin: auto;
  }

  .promos__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
