.add-catalog__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 13px 0 17px;

  border-top: 1px solid $very-light-grey;

  &:last-child {
    border-bottom: 1px solid $very-light-grey;
  }
}

@media (min-width: $tablet-width) {
  .add-catalog__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 37px 27px;

    border-top: 1px solid $whisper-1;
    border-left: 1px solid $whisper-1;
    border-right: 1px solid $whisper-1;

    &:last-child {
      border-bottom: 1px solid $whisper-1;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__item {
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 0 16px;

    border-left: none;
    border-right: none;
  }
}
