.add-products__title {
  position: relative;
  max-width: 226px;
  margin: 28px 0 34px -20px;
  padding: 0 20px;

  font-size: 24px;
  font-weight: normal;

  background: $white;

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 3px;
    top: 14px;
    left: 0;

    background: $apple;
  }
}

.add-products__wrapper {
  display: flex;
  flex-direction: column;
}

.add-products__catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.add-products__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 39px 0 35px;
  padding: 65px 0 42px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.add-products__action-text {
  max-width: 161px;
  margin: 0;
  padding: 122px 0 0;

  text-align: center;

  font-family: $arial;
  line-height: 1.25;


  color: $white;
}

@media (min-width: $tablet-width) {
  .add-products__title {
    max-width: 338px;
    margin: -73px 0 80px;
    padding: 0 40px;

    font-size: 36px;

    &::after {
      top: 22px;
      left: -30px;
    }
  }

  .add-products__action {
    flex-direction: row;
    justify-content: space-between;
    margin: 69px 0 76px;
    padding: 72px 125px 68px 91px;

    text-align: right;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add-products__action-text {
    padding: 0 0 0 331px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .add-products__title {
    margin: -68px 0 80px -40px;

    &::after {
      left: calc(((1300px - 100vw)/2));
    }
  }

  .add-products__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 85px;
  }

  .add-products__catalog {
    flex-wrap: nowrap;
    min-width: 895px;
  }

  .add-products__action {
    flex-direction: column;
    max-width: 245px;
    margin: 0;
    padding: 44px 42px 42px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 100% 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add-products__action-text {
    padding: 144px 0 0;

    text-align: center;
  }
}
