.button {
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-font-color;
  background: $button-bg-color;

  &:focus,
  &:hover {
    background: #5eaa2f;
  }

  &:active {
    color: rgba($button-font-color, 0.3);
  }

  &--promos {
    font-size: 14px;
    line-height: 1.29;
  }

  &--more {
    color: $add-font-color;
    background: $add-bg-color;

    &:focus,
    &:hover {
      background: #ebebeb;
    }

    &:active {
      color: rgba($add-font-color, 0.3);
    }
  }

  &--form {
    padding: 0;
    font: inherit;
    line-height: 1.25;
    text-transform: uppercase;
    color: $button-font-color;
    border: none;
    cursor: pointer;
  }
}
