.button {
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-font;
  background: $button-background;

  &:focus,
  &:hover {
    background: #5eaa2f;
  }

  &:active {
    color: rgba($button-font, 0.3);
  }
}

.button--promos {
  font-size: 14px;
  line-height: 1.29;
}

.button--more {
  color: $add-font;
  background: $add-background;

  &:focus,
  &:hover {
    background: #ebebeb;
  }

  &:active {
    color: rgba($add-font, 0.3);
  }
}
