.contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 28px 20px 26px;

  background: $white-smoke;

  &--index {
    background: $white;
  }
}

.contacts__title {
  max-width: 154px;

  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

.contacts__address {
  max-width: 155px;

  font-family: $arial;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  color: $charcoal;
}

.contacts__map {
  min-width: 100%;
  min-height: 400px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin: 0 -30px;
    padding: 65px 71px 56px;
  }

  .contacts__title {
    font-size: 20px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin: 20px 0 0;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    min-width: 406px;
    margin: 0;
    padding: 65px 88px 56px 76px;

    background: $white;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}
