.example {
  background: $add-bg-color;
}

.example__text {
  font-family: $second-font-family;
  font-size: 14px;
  line-height: 1.29;
  color: $add-font-color;
}

.example__total {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}
