.form__title {
  font-size: 24px;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__textarea {
  &::placeholder {
    font-family: $first-font-family;
    font-size: 16px;
    line-height: 1.13;
    text-transform: uppercase;
    color: #444444;
  }
}

.form__note {
  font-family: $second-font-family;
  font-size: 14px;
  line-height: 1.14;
  color: $add-font-color;
}
