body {
  margin: 0;
  padding: 0;

  font-family: $first-font-family;
  font-size: 16px;
  line-height: 1;

  color: $main-font-color;
  background: $main-bg-color;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1220px;
    padding: 0 40px;
  }
}
