.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list__link {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-font;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav-list__link--active {
  &:focus,
  &:hover,
  &:active {
    opacity: 1;
  }
}
