.product__link {
  text-decoration: none;
}

.product__title {
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.product__specs {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}
