.promos__top {
  background-color: $button-bg-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 305px 100%;
  background-repeat: no-repeat;
}

.promos__slogan {
  margin: 0;
  padding: 0;

  font-size: 14px;
  text-transform: uppercase;
  color: $button-font-color;
}
