.promos-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promos-list__item {
  background: $add-background;
}

.promos-list__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
}

.promos-list__desc {
  font-family: $second-family;
  font-size: 14px;
  line-height: 1.29;
  color: $add-font;
}

.promos-list__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $main-font;

  &:active {
    color: rgba($main-font, 0.3);
  }
}
