.promos {
  margin-bottom: -3px;
}

.promos__header {
  margin: 0 -20px;
  padding: 27px 20px 0;


  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.promos__slogan {
  margin: 0;
  margin-top: -1px;
  padding: 0;

  font-size: 14px;
  text-transform: uppercase;
  color: $button-font-color;
}

.promos__image {
  width: 280px;
  height: 270px;
  margin: 28px 0 3px;
}

.promos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .promos {
    margin-bottom: -30px;
  }

  .promos__header {
    position: relative;
    min-height: 810px;
    margin: 0;
    padding-top: 57px;
    padding-left: 90px;

    background-image: none;
  }

  .promos__slogan {
    margin-bottom: 48px;
    font-size: 20px;
    text-align: left;
    color: #111111;
  }

  .promos__image {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 708px;
    height: 609px;
    margin: 0 auto;
  }

  .promos__list {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .promos__header {
    min-height: 554px;
    padding-top: 109px;
    padding-left: 84px;
  }

  .promos__slogan {
    margin-bottom: 53px;
  }

  .promos__image {
    width: 522px;
    height: 499px;
    top: 5%;
    left: 22%;
    bottom: inherit;
    margin: auto;
  }

  .promos__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
