.results {
  margin: 0;
  padding: 0;

  list-style: none;
}

.results_title {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.results_text {
  font-family: $second-font-family;
  font-size: 12px;
  text-transform: lowercase;
  color: $add-font-color;
}
