// Цвета
$black-1: #000000;
$black-2: #111111;
$nero: #222222;
$charcoal: #444444;
$limeade: #5eaa2f;
$dim-gray: #666666;
$apple: #68b738;
$silver: #bababa;
$very-light-grey: #cdcdcd;
$gainsboro: #dcdcdc;
$whisper-1: #e6e6e6;
$whisper-2: #eaeaea;
$whisper-3: #ebebeb;
$whisper-4: #ededed;
$white-smoke: #f2f2f2;
$light-coral: #ff8282;
$white: #ffffff;

//Ширина экрана
$tablet-width: 768px;
$desktop-width: 1300px;

//Шрифты
$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

//DPI и DPPX для Retina-дисплеев
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
