// Цвета
$main-font-color: #111111;
$main-bg-color: #ffffff;
$add-font-color: #444444;
$add-bg-color: #f2f2f2;
$button-font-color: #ffffff;
$button-bg-color: #68b738;

//Шририна экрана
$tablet-width: 768px;
$desktop-width: 1300px;

//Шрифты
$first-font-family: "Oswald", "Arial", sans-serif;
$second-font-family: "Arial", sans-serif;

//DPI и DPPX для Retina-дисплеев
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
